h1 {
    text-align: center;
}

#crystalone {
   border: 0;
   width: 100px;
   height: 100px;
   padding: 0;
}

#crystaltwo {
    border: 0;
    width: 100px;
    height: 100px;
    padding: 0;
 }

 #crystalthree {
    border: 0;
    width: 100px;
    height: 100px;
    padding: 0;
 }

 #crystalfour {
    border: 0;
    width: 100px;
    height: 100px;
    padding: 0;
 }